In [3]:
'''1. Create a function that takes a list and string. The function should remove the letters in the string from
the list, and return the list.

Examples

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]

remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g", "w"]

remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []'''

def remove_letters(lst,st):
    string=list(st)
    for i in string:
        if i in lst:
            lst.remove(i)
    return lst

remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

In [5]:
'''2. A block sequence in three dimensions. We can write a formula for this one:
    
    
Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12'''

def blocks(n):
    return 5 + int((((7 + n -2) + 7)/2)*(n-1))

print(blocks(2))
print(blocks(5))

12
39

In [1]:
'''3. Create a function that subtracts one positive integer from another, without using any arithmetic operators
such as -, %, /, +, etc.

Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0'''

def my_sub(y,x):
    while (y!=0):
        borrow=(~x)&y    #borrow contains common set bits of y and unset bits of x
        x=x^y            #Subtraction of bits of x  and y where at least one of the bits is not set
        y=borrow<<1      #Borrow is shifted by one so that subtracting it from x gives the required sum
    return x

my_sub(10, 30)

20

In [10]:
'''4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma)
and returns the sum of dollar bills only, as an integer.

For the input string:

   - Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.
   - Thousands are represented by the suffix k.

i.e. $4k = $4,000 and £40k = £40,000

Examples

add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70

add_bill("p30,d20,p60,d150,p360") ➞ 20  + 150 = 170

add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200'''

def add_bill(string):
    dollar_lst=[i for i in string.split(",") if 'p' not in i]
    summ=0
    for money in dollar_lst:
        if 'k' in money:
            summ+=int(money[1:-1])*1000
        else:
            summ+=int(money[1:])
    return summ
            
add_bill("p30,d2k,p60,d200,p360")

2200

In [2]:
'''5. Create a function that flips a horizontal list into a vertical list, and a vertical list 
into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column),
and vice versa.

Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
# Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
# Take a vertical list and flip it horizontal.

flip_list([]) ➞ []'''

def flip_list(lst):
    if len(lst) == 0:
        return lst
    elif type(lst[0]) == list:
        return [i[0] for i in lst]
    else:
        return [[i] for i in lst]

flip_list([[5], [6], [9]])

[5, 6, 9]